* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

svg {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.06em;
}

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.9em;
  font-family: Raleway;
  font-weight: 700;
}

.logo-contacts {
  color: white;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  font-weight: 700;
}

.logo-text {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list__item {
  margin-right: 50px;
  position: relative;
}

.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.link-studia::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -19px;
  left: 0px;
}

.contact-info {
  display: flex;
  margin-left: auto;
}

.contact-info__link {
  margin-right: 50px;
}

.contact-info__link:last-child {
  margin-right: 0;
}

.contact-info .contact + .contact {
  margin-left: 50px;
}

.contact-info__contact {
  color: var(--title-text-color);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.contact-info__contact:hover, .contact-info__contact:focus,
.contact-info__contact:hover .contact-info__icon,
.contact-info__contact:focus .contact-info__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-white {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.contact-info__icon {
  fill: #757575;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info__icon:hover {
  fill: var(--accent-color);
}

.busines {
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.busines__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.busines__btn {
  width: 200px;
  height: 50px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  margin-top: 30px;
}

.features {
  padding-top: 95px;
  padding-bottom: 95px;
}

.features-list {
  display: flex;
  justify-content: center;
}

.features-list__item {
  width: 270px;
  margin-right: 30px;
}

.features-list__item:last-child {
  margin-right: 0;
}

.features-list__wrapper {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list__icon {
  margin: 25px 100px;
}

.features-list__text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.it {
  padding-bottom: 94px;
}

.it__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.it-item {
  display: flex;
  justify-content: center;
  position: relative;
  /* margin-top: 50px; */
}

.it-item__image {
  margin-right: 30px;
  margin-top: 50px;
  position: relative;
}

.it-item__image:last-child {
  margin-right: 0;
}

.it-box__text {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.it-box {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list__item {
  margin-right: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:last-child {
  margin-right: 0;
}

.team-list__block {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  display: block;
  margin-right: 10px;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #fff;
}

.socials__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.socials__icon:hover, .socials__icon:focus {
  background-color: var(--accent-color);
}

.client__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-list__item {
  width: 170px;
  height: 92px;
  /* border: 1px solid #afb1b8; */
  margin-right: 30px;
  border-radius: 4px;
}

.client-list__item:last-child {
  margin: 0;
}

.client-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
}

.client-list__link:hover .client-list__border,
.client-list__link:focus .client-list__border {
  fill: var(--accent-color);
}

.client-list__border {
  transition-property: border-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  background-color: #2f303a;
  color: #ffffff;
}

.contacts .contact-logo__text {
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.end {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-white {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.contact-list__mail {
  margin-top: 9px;
}

.contact-list__tel {
  margin-top: 9px;
}

.contacts .logo-text-footer {
  color: #ffffff;
}

.contacts .contact {
  color: #757575;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.join {
  margin-left: 70px;
}

.join__title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.socials--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.master-socials__item {
  display: block;
  margin-right: 10px;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.master-socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.master-socials__link:hover, .master-socials__link:focus {
  background-color: var(--accent-color);
}

.master-socials__link:hover .socials-icon,
.master-socials__link:focus .socials-icon {
  fill: #fff;
}

.join-white {
  fill: #ffffff;
}

.block-email {
  margin-left: 90px;
}

.block-email__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.block-email__type {
  padding-left: 16px;
}

.block-email__type {
  color: #ffffff;
}

.block-email__type {
  margin-top: 20px;
  margin-right: 12px;
  height: 50px;
  width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.block-email__btn {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: #ffffff;
  cursor: pointer;
}

.block-text {
  margin-right: 15px;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn-list-item {
  margin-right: 8px;
}

.btn-list-item:last-child {
  margin-right: 8px;
}

.btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  border: 4px solid #f5f4fa;
  padding: 6px 22px;
  transition-property: border-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  border: 4px solid var(--accent-color);
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.list-card {
  position: relative;
  width: 370px;
  margin-right: 27px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.list-card:hover .card-top-text {
  transform: translateY(0);
}

.list-card:hover .list-card-text::before {
  transform: translateY(0);
  opacity: 1;
}

.list-card:nth-child(3n + 3) {
  margin-right: 0px;
}

.list-card:nth-child(n + 6) {
  margin-bottom: 0px;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-top-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card-text {
  padding: 20px 24px;
  /* border: 1px solid #eeeeee; */
  width: 370px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.2em;
  letter-spacing: 0.06em;
}

.text {
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--title-text-color);
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 580px;
  min-width: 530px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-radius {
  display: flex;
  justify-content: flex-end;
}

.modal-close-x {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 4px;
  width: 30px;
  height: 30px;
  padding: 6px;
  cursor: pointer;
}

.modal-close-x:hover, .modal-close-x:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-modal {
  position: absolute;
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-label::enabled {
  fill: red;
}

.input-wrap {
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.modal-form-input {
  padding-left: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  padding-left: 10px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-comment:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox:checked + .check-label::before {
  background: var(--accent-color);
  background-image: url(../images/Vector.svg);
  border-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  fill: var(--accent-color);
}

.check-label {
  display: flex;
  margin-top: 20px;
}

.check-label::before {
  width: 15px;
  height: 15px;
  content: "";
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-btn {
  margin-left: 120px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
}

.social-contact {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */